<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="true" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <!-- backup disabled because its not compatible with encrypted shared preferences? -->
    <application
        android:name="io.keepalive.android.AppController"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KeepAlive"
        tools:targetApi="33"
        android:enableOnBackInvokedCallback="true">

        <activity
            android:name="io.keepalive.android.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.KeepAlive.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="io.keepalive.android.SettingsActivity"
            android:parentActivityName="io.keepalive.android.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.keepalive.android.MainActivity" />
        </activity>

        <activity
            android:name="io.keepalive.android.LogDisplayActivity"
            android:parentActivityName="io.keepalive.android.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.keepalive.android.MainActivity" />
        </activity>

        <receiver
            android:name="io.keepalive.android.receivers.AlarmReceiver"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name="io.keepalive.android.receivers.BootBroadcastReceiver"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>